@import "../base/mixins.scss";
@import "../base/vars.scss";

.about {
  margin: 0 0 110px;
  padding: 74px 0 0;

  @media (max-width: $width_viewport_tablet) {
    margin: 0 0 83px;
    padding: 35px 0 0;
  }

  @media (max-width: $width_viewport_mobile) {
    margin: 0 0 65px;
  }
}

.about__inner {
  @include inner_thin;
}

.about__wrapper {
  position: relative;

  padding: 0 0 0 182px;

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 2px;

    width: 178px;
    height: 317px;

    background: transparent url("../img/number-desktop@1x.png") no-repeat center;
    background-size: cover;

    @media (max-width: $width_viewport_tablet) {
      top: 0;
      left: -40px;

      width: 251px;
      height: 361px;

      background-size: cover;
    }
  }

  @media (max-width: $width_viewport_mobile) {
    position: static;

    padding: 0;

    &::before {
      display: none;
    }
  }
}

.about__title {
  @include heading_h2;

  margin: 0;
  padding: 0 0 30px;

  font-weight: $font_weight_normal;
  font-family: $font_family_second_base;
}

.about__text {
  @include indent_p;

  margin: 0;
  padding: 0 6px 21px 0;

  line-height: $line_height_p_tablet_l;

  &--second {
    padding: 0 0 31px;

    @media (max-width: $width_viewport_tablet) {
      padding: 0 0 37px;
    }
  }
}
