@import "../base/mixins.scss";
@import "../base/vars.scss";

.advantage {
  padding: 29px 0 42px;

  @media (max-width: $width_viewport_tablet) {
    padding: 29px 0 0;
  }

  @media (max-width: $width_viewport_mobile) {
    padding: 20px 0 0;
  }
}

.advantage__inner {
  @include inner_thin;
}

.advantage__list {
  @include list;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 0 -34px;

  @media (max-width: $width_viewport_tablet) {
    margin: 0 0 0 -38px;
  }

  @media (max-width: $width_viewport_mobile) {
    display: block;
    margin: 0;
  }
}

.advantage__item {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  max-width: 47%;
  margin: 3% 0 0 3%;
  padding: 42px 43px 66px 45px;

  box-shadow: inset 3px 0 0 0 $color_blue_sky, inset 1px 1px 0 0 $color_gray_lightest, inset -1px -1px 0 0 $color_gray_lightest;

  @media (max-width: $width_viewport_tablet) {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 45%;
    max-width: 45%;
    margin: 0 0 30px 31px;
    padding: 24px 16px 35px 28px;
  }

  @media (max-width: $width_viewport_mobile) {
    flex-basis: auto;
    max-width: 100%;
    margin: 0 0 19px;
    padding: 25px 18px 32px 27px;
  }

  &--padding {
    @media (max-width: $width_viewport_mobile) {
      padding: 25px 13px 32px 27px;
    }
  }

  &:hover {
    color: $color_white;

    background: $color_blue_sky;
    box-shadow: none;
    cursor: pointer;
  }

  &:focus {
    color: $color_white;

    background: $color_blue_sky;
    box-shadow: none;
    cursor: pointer;
  }

  &:hover .advantage__title {
    color: $color_white;
  }

  &:focus .advantage__title {
    color: $color_white;
  }

  &:hover .advantage__icon {
    fill: $color_white;
  }

  &:focus .advantage__icon {
    fill: $color_white;
  }
}

.advantage__title {
  @include heading_h3;

  margin: 0;
  padding: 9px 0 17px;

  font-weight: $font_weight_normal;
  font-size: $font_size_h3_desktop_l;
  line-height: $line_height_p_desktop_xxl;
  font-family: $font_family_second_base;
  color: $color_blue_sky;

  @media (max-width: $width_viewport_tablet) {
    padding: 3px 0 12px;

    font-size: $font_size_h3_tablet_l;
    line-height: $line_height_p_desktop_xxl;
  }

  @media (max-width: $width_viewport_mobile) {
    padding: 7px 0 10px;

    font-size: $font_size_h3_mobile;
    line-height: $line_height_h2_mobile;
  }
}

.advantage__text {
  @include indent_p;

  margin: 0;

  line-height: $line_height_h2_desktop;

  &--second {
    @media (max-width: $width_viewport_tablet) {
      padding: 0 0 37px;
    }
  }
}

.advantage__icon {
  fill: $color_blue_sky;
}
