@import "../base/mixins.scss";
@import "../base/vars.scss";

.advantage {
  padding: 29px 0 30px;

  @media (max-width: $width_viewport_tablet) {
    padding: 29px 0 0;
  }

  @media (max-width: $width_viewport_mobile) {
    padding: 20px 0 0;
  }
}

.advantage__inner {
  @include inner_thin;
}

.advantage__list {
  @include list;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 0 -34px;

  @media (max-width: $width_viewport_mobile) {
    display: block;
    margin: 0;
  }
}

.advantage__item {
  flex-basis: 47%;
  min-height: 300px;
  margin: 30px 0 0 31px;
  padding: 42px 43px 66px 45px;

  box-shadow: inset 3px 0 0 0 $color_blue_sky, inset 1px 1px 0 0 $color_gray_lightest, inset -1px -1px 0 0 $color_gray_lightest;

  &:hover {
    color: $color_white;

    background: $color_blue_sky;
    box-shadow: none;
    cursor: pointer;
  }

  &:focus {
    color: $color_white;

    background: $color_blue_sky;
    box-shadow: none;
    cursor: pointer;
  }

  &:hover .advantage__title {
    color: $color_white;
  }

  &:focus .advantage__title {
    color: $color_white;
  }

  &:hover .advantage__icon {
    fill: $color_white;
  }

  &:focus .advantage__icon {
    fill: $color_white;
  }

  @media (max-width: $width_viewport_mobile) {
    margin: 0 0 30px;
    padding: 25px 18px 40px 27px;
  }
}

.advantage__title {
  @include heading_h3;

  margin: 0;
  padding: 15px 0 17px;

  font-weight: $font_weight_normal;
  font-size: $font_size_h3_desktop_l;
  line-height: $line_height_p_desktop_xxl;
  font-family: $font_family_second_base;
  color: $color_blue_sky;

  @media (max-width: $width_viewport_tablet) {
    padding: 15px 0 25px;

    font-size: $font_size_h3_tablet_l;
    line-height: $line_height_p_desktop_xxl;
  }

  @media (max-width: $width_viewport_mobile) {
    padding: 15px 0 22px;

    font-size: $font_size_h3_mobile;
    line-height: $line_height_h2_mobile;
  }
}

.advantage__text {
  @include indent_p;

  margin: 0;

  line-height: $line_height_h2_desktop;

  &--second {
    @media (max-width: $width_viewport_tablet) {
      padding: 0 0 37px;
    }
  }
}

.advantage__icon {
  fill: $color_blue_sky;
}
