@import "mixins.scss";
@import "vars.scss";

.background {
  background-color: $color_blue_tangaroa;
  background-image: url("../img/bg-header-desktop@1x.png"), url("../img/bg-header-delta@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: cover, cover;

  @media (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
    background-color: $color_blue_tangaroa;
    background-image: url("../img/bg-header-desktop@2x.png"), url("../img/bg-header-delta@2x.png");
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: cover, cover;
  }

  @media (max-width: $width_viewport_tablet) {
    background-color: $color_blue_tangaroa;
    background-image: url("../img/bg-header-tablet@1x.png"), url("../img/bg-header-delta@1x.png");
    background-repeat: no-repeat, no-repeat;
    background-position: center, center bottom 123px;
    background-size: cover, 197%;
  }

  @media (max-width: $width_viewport_tablet) and (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
    background-color: $color_blue_tangaroa;
    background-image: url("../img/bg-header-tablet@2x.png"), url("../img/bg-header-delta@2x.png");
    background-repeat: no-repeat, no-repeat;
    background-position: center, center bottom 123px;
    background-size: cover, 197%;
  }

  @media (max-width: $width_viewport_mobile) {
    background-color: $color_blue_tangaroa;
    background-image: url("../img/bg-header-mobile@1x.png"), url("../img/bg-header-delta@1x.png");
    background-repeat: no-repeat, no-repeat;
    background-position: center, right -487px bottom 130px;
    background-size: cover, cover;
  }

  @media (max-width: $width_viewport_mobile) and (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
    background-color: $color_blue_tangaroa;
    background-image: url("../img/bg-header-mobile@2x.png"), url("../img/bg-header-delta@2x.png");
    background-repeat: no-repeat, no-repeat;
    background-position: center, right -488px bottom 130px;
    background-size: cover, cover;
  }
}

.background-main {
  background-color: $color_white;
  background-image: url("../img/bg-main-delta-left-top@1x.png"), url("../img/bg-main-delta-right@1x.png"), url("../img/bg-main-delta-left@1x.png"), url("../img/bg-main-delta-center@1x.png");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: left 13% top 5%, right 2% top 40%, left bottom 3%, left 53% top 34%;
  background-size: 17%, 17%, 30%, 45%;

  @media (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
    background-color: $color_white;
    background-image: url("../img/bg-main-delta-left-top@2x.png"), url("../img/bg-main-delta-right@2x.png"), url("../img/bg-main-delta-left@2x.png"), url("../img/bg-main-delta-center@2x.png");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left 13% top 5%, right 2% top 40%, left bottom 3%, left 53% top 34%;
    background-size: 17%, 17%, 30%, 45%;
  }

  @media (max-width: $width_viewport_tablet) {
    background-color: $color_white;
    background-image: url("../img/bg-main-delta-center@1x.png");
    background-repeat: no-repeat;
    background-position: right 332% top 41%;
    background-size: 112%;
  }

  @media (max-width: $width_viewport_tablet) and (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
    background-color: $color_white;
    background-image: url("../img/bg-main-delta-center@2x.png");
    background-repeat: no-repeat;
    background-position: right 332% top 41%;
    background-size: 112%;
  }

  @media (max-width: $width_viewport_mobile) {
    background-image: none;
  }
}
