@import "../base/mixins.scss";
@import "../base/vars.scss";

.btn {
  display: block;
  width: 180px;
  min-height: 45px;
  padding: 10px;

  font-weight: $font_weight_bold;
  font-size: $font_size_p_desktop_xxs;
  line-height: $line_height_p_desktop;
  font-family: $font_family_second_base;
  text-align: center;
  color: $color_white;
  letter-spacing: 0.05em;

  background: transparent;
  border: 1px solid $color_white;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  &:hover {
    cursor: pointer;
  }

  &--call {
    &:hover {
      background-color: $color_blue_sky;
      border-color: $color_blue_sky;
    }

    &:focus {
      background-color: $color_blue_sky;
      border-color: $color_blue_sky;
    }

    @media (max-width: $width_viewport_tablet) {
      display: none;
    }
  }

  &--consultation {
    width: 407px;
    min-height: 55px;
    margin: 0 0 0 92px;
    padding: 17px 0 14px;

    font-size: $font_size_p_desktop;
    line-height: $line_height_p_desktop_xl;

    background: $color_blue_sky;
    border: none;
    box-shadow: none;

    &:hover {
      color: $color_blue_sky;

      background-color: $color_white;
    }

    &:active {
      opacity: 0.7;
    }

    &:hover:focus {
      color: $color_blue_sky;

      background-color: $color_white;
    }

    @media (max-width: $width_viewport_tablet) {
      width: 379px;
      margin: 0 0 0 53px;

      text-transform: uppercase;
    }

    @media (max-width: $width_viewport_mobile) {
      display: none;
    }
  }

  &--consultation-small {
    display: none;

    @media (max-width: $width_viewport_mobile) {
      display: block;
      width: 287px;
      min-height: 55px;
      margin: 0 0 0 3px;
      padding: 17px 0 14px;

      font-size: $font_size_p_desktop;
      line-height: $line_height_p_desktop_xl;
      text-transform: uppercase;

      background: $color_blue_sky;
      border: none;
      box-shadow: none;
    }
  }

  &--detail {
    padding: 14px 0;

    color: $color_blue_sky;
    text-transform: uppercase;

    background: transparent;
    border: 1px solid $color_blue_sky;
    box-shadow: none;

    @media (max-width: $width_viewport_tablet) {
      margin: 48px 0 0 3px;
      padding: 13px 0;
    }

    @media (max-width: $width_viewport_mobile) {
      margin: 35px 0 0 2px;
    }

    &:hover {
      color: $color_white;

      background-color: $color_blue_sky;
    }

    &:focus {
      color: $color_white;

      background-color: $color_blue_sky;
    }
  }

  &--question {
    flex-basis: 50%;
    width: 270px;

    background: $color_blue_sky;
    box-shadow: none;

    &:hover {
      color: $color_blue_sky;

      background-color: $color_white;
    }

    &:focus {
      color: $color_blue_sky;

      background-color: $color_white;
    }

    @media (max-width: $width_viewport_tablet) {
      text-transform: uppercase;
    }

    @media (max-width: $width_viewport_mobile) {
      width: 290px;
      margin: 0 0 30px;
    }
  }

  &--modal {
    width: 100%;
    margin: 0 0 35px;

    text-transform: uppercase;

    box-shadow: none;

    &:hover {
      color: $color_blue_sky;

      background-color: $color_white;
    }

    &:focus {
      color: $color_blue_sky;

      background-color: $color_white;
    }
  }
}
