@import "../base/mixins.scss";
@import "../base/vars.scss";

.contact {
  padding: 89px 0 113px;

  background-color: $color_blue_sky;
  background-image: url("../img/bg-contact-delta@1x.png");
  background-repeat: no-repeat;
  background-position: left 172px top -61px;
  background-size: 92%;

  @media (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
    background-color: $color_blue_sky;
    background-image: url("../img/bg-contact-delta@2x.png");
    background-repeat: no-repeat;
    background-position: left 172px top -61px;
    background-size: 92%;
  }

  @media (max-width: $width_viewport_tablet) {
    padding: 79px 0 104px;

    background-image: none;
  }

  @media (max-width: $width_viewport_mobile) {
    padding: 30px 0 44px;
  }
}

.contact__inner {
  @include inner;
}

.contact__container {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 1170px;
  max-width: $width_desktop_s;
  margin: 0 auto;

  @media (max-width: $width_viewport_tablet) {
    display: block;
    width: inherit;
    margin: inherit;
  }
}

.contact__image {
  position: absolute;
  top: 72px;
  left: -60px;

  flex-basis: auto;
  width: 50%;
  min-height: 288px;

  background-color: transparent;
  background-image: url("../img/plane-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
    background-color: transparent;
    background-image: url("../img/plane-desktop@2x.png");
    background-repeat: no-repeat;
    background-position: left 25% top 42%;
    background-size: 27%;
  }

  @media (max-width: $width_viewport_tablet) {
    display: none;
  }
}
