@import "../base/mixins.scss";
@import "../base/vars.scss";

.contact {
  padding: 89px 0 114px;

  background-color: $color_blue_sky;
  background-image: url("../img/plane-desktop@1x.png"), url("../img/bg-contact-delta@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left 25% top 42%, left 172px top -61px;
  background-size: 27%, 92%;

  @media (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
    background-color: $color_blue_sky;
    background-image: url("../img/plane-desktop@2x.png"), url("../img/bg-contact-delta@2x.png");
    background-repeat: no-repeat, no-repeat;
    background-position: left 25% top 42%, left 172px top -61px;
    background-size: 27%, 92%;
  }

  @media (max-width: $width_viewport_tablet) {
    padding: 79px 0 104px;

    background-image: none;
  }

  @media (max-width: $width_viewport_mobile) {
    padding: 30px 0 39px;
  }
}

.contact__inner {
  @include inner;
}

.contact__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: $width_desktop_s;
  margin: 0 auto;
}
