@import "../base/mixins.scss";
@import "../base/vars.scss";

.contact {
  padding: 100px 0 110px;

  background: $color_blue_sky;

  @media (max-width: $width_viewport_tablet) {
    padding: 90px 0 103px;
  }

  @media (max-width: $width_viewport_mobile) {
    padding: 40px 0 45px;
  }
}

.contact__inner {
  @include inner_m;

  display: flex;
  flex-wrap: wrap;

  @media (max-width: $width_viewport_mobile) {
    display: block;
  }
}

.contact__image {
  flex-basis: 40%;
  min-height: 300px;
  margin: 0 auto 0 0;

  background: transparent url("../img/plane-desktop@1x.png") no-repeat center;
  background-size: contain;

  @media (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
    background: transparent url("../img/plane-desktop@2x.png") no-repeat center;
    background-size: contain;
  }

  @media (max-width: $width_viewport_tablet) {
    display: none;
  }
}
