@import "../base/mixins.scss";
@import "../base/vars.scss";

.footer {
  padding: 65px 0 20px;

  background: $color_white_darken;
}

.footer__inner {
  @include inner_l;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 35px 20px 0 20px;
}

.footer__social {
  flex-basis: 22%;
  margin: 0 auto 0 0;
}

.footer__navigation {
  flex-basis: 50%;
}

.footer__contact {
  flex-basis: 25%;
}

.footer__copyright {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.footer__logo-link {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 52px;
}

.footer__logo-text {
  @include indent_p;

  margin: 0;

  font-weight: $font_weight_bold;
  font-size: $font_size_p_desktop_xl;
  line-height: $line_height_p_desktop_l;
  font-family: $font_family_second_base;
  color: $color_blue_nordic;
}

.footer__logo-slogan {
  @include indent_p;

  margin: 0;

  font-weight: $font_weight_medium;
  font-size: $font_size_p_desktop_s;
  line-height: $line_height_p_desktop_l;
  font-family: $font_family_third_base;
  color: $color_gray_light;
}

.footer__text {
  @include indent_p;

  flex-basis: 25%;
  margin: 0;

  font-size: $font_size_p_desktop_xs;
  line-height: $line_height_p_mobile_xxxl;
  color: $color_blue_tangaroa;
  letter-spacing: 0.04em;

  opacity: 0.5;

  &--title {
    padding: 0 0 35px;

    font-size: $font_size_p_desktop_xxxs;
    line-height: $line_height_p_tablet_s;
    font-family: $font_family_second_base;
    letter-spacing: 0.05em;

    opacity: 1;
  }

  &--desktop {
    display: none;
  }
}

.footer__link {
  font-size: $font_size_p_desktop_xxxs;
  line-height: $line_height_p_mobile_xl;
  color: $color_blue_tangaroa;
  letter-spacing: 0.03em;

  opacity: 0.5;
}

.footer__address {
  font-style: normal;
  font-size: $font_size_p_desktop_xxxs;
  line-height: $line_height_p_mobile_xl;
  color: $color_blue_tangaroa;
  letter-spacing: 0.03em;

  opacity: 0.5;
}

.footer__list {
  @include list;

  &--social {
    display: flex;
    flex-wrap: wrap;
    padding: 53px 0 0;
  }

  &--navigation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 100px;
  }
}

.footer__item {
  &--social {
    margin: 0 16px 0 0;
  }
}

.footer__copyright-text {
  @include indent_p;

  margin: 0;
}
