@import "../base/mixins.scss";
@import "../base/vars.scss";

.footer {
  position: relative;

  padding: 65px 0 0;

  background: $color_white_darken;

  @media (max-width: $width_viewport_tablet) {
    padding: 19px 0 0;
  }

  @media (max-width: $width_viewport_mobile) {
    padding: 46px 0 0;
  }
}

.footer__inner {
  @include inner;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (max-width: $width_viewport_tablet) {
    justify-content: space-between;
  }

  @media (max-width: $width_viewport_mobile) {
    display: block;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 57px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: $color_gray_dark;
    opacity: 0.2;

    @media (max-width: $width_viewport_tablet) {
      bottom: 69px;
      left: 0;
    }

    @media (max-width: $width_viewport_mobile) {
      display: none;
    }
  }

  &::before {
    @media (max-width: $width_viewport_tablet) {
      content: "";
      position: absolute;
      top: 95px;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: $color_gray_dark;
      opacity: 0.2;
    }

    @media (max-width: $width_viewport_mobile) {
      display: none;
    }
  }
}

.footer__social {
  flex-basis: 15%;

  @media (max-width: $width_viewport_tablet) {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 23px;
  }

  @media (max-width: $width_viewport_mobile) {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 0 48px;
  }

  & > p {
    @include indent_p;

    display: none;
    margin: 0;

    font-size: $font_size_p_desktop_xs;
    line-height: $line_height_p_mobile_xxxl;
    color: $color_blue_tangaroa;
    letter-spacing: 0.04em;

    opacity: 0.5;

    @media (max-width: $width_viewport_tablet) {
      display: block;
      flex-basis: 35%;
      margin: 0 36px 0 auto;

      font-size: $font_size_p_tablet_xs;
      line-height: $line_height_p_mobile_xxxl;
      text-transform: uppercase;
    }

    @media (max-width: $width_viewport_mobile) {
      margin: 0 0 33px;
    }
  }
}

.footer__logo-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-height: 52px;
  margin: 0 0 53px;

  @media (max-width: $width_viewport_tablet) {
    align-items: normal;
    margin: 0;
  }

  @media (max-width: $width_viewport_mobile) {
    margin: 0 15px 26px 0;
  }

  &:focus {
    outline: none;
  }

  &:hover p {
    color: $color_blue_sky;
  }

  &:focus p {
    color: $color_blue_sky;
  }
}

.footer__logo-text {
  padding: 0 0 0 15px;

  @media (max-width: $width_viewport_tablet) {
    padding: 0 0 0 16px;
  }

  @media (max-width: $width_viewport_mobile) {
    padding: 0 0 0 16px;
  }

  & p {
    @include indent_p;

    margin: 0;

    font-weight: $font_weight_bold;
    font-size: $font_size_p_desktop_xl;
    line-height: $line_height_p_desktop_l;
    font-family: $font_family_second_base;
    color: $color_blue_nordic;

    @media (max-width: $width_viewport_tablet) {
      margin: 0 0 2px;
      padding: 4px 0 0;

      font-size: $font_size_p_tablet_xl;
      line-height: $line_height_p_tablet_xxs;
    }

    @media (max-width: $width_viewport_mobile) {
      margin: 0 0 2px;
      padding: 4px 0 0;
    }
  }

  & p + p {
    @include indent_p;

    margin: 0;

    font-weight: $font_weight_medium;
    font-size: $font_size_p_desktop_s;
    line-height: $line_height_p_desktop_l;
    font-family: $font_family_third_base;
    color: $color_gray_light;

    @media (max-width: $width_viewport_tablet) {
      padding: 0;

      font-size: $font_size_p_tablet_s;
      line-height: $line_height_p_tablet_xxs;
    }
  }
}

.footer__list {
  @include list;

  &--social {
    display: flex;
    flex-wrap: wrap;


    @media (max-width: $width_viewport_tablet) {
      padding: 0;
    }
  }

  &--navigation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100px;

    @media (max-width: $width_viewport_tablet) {
      height: auto;
      max-height: none;
    }

    @media (max-width: $width_viewport_mobile) {
      padding: 0;
    }
  }

  &--contact {
    @media (max-width: $width_viewport_mobile) {
      padding: 0;
    }
  }
}

.footer__item {
  max-width: 249px;

  @media (max-width: $width_viewport_tablet) {
    max-width: auto;
  }

  &--social {
    margin: 0 16px 0 0;

    @media (max-width: $width_viewport_tablet) {
      margin: 0 0 0 15px;
    }

    @media (max-width: $width_viewport_mobile) {
      margin: 0 8px 0;
    }

    &:hover {
      transform: scale(1.2);
    }

    &:focus {
      transform: scale(1.2);
    }
  }
}

.footer__social-link {
  display: inline-block;
  width: 27px;
  height: 27px;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    outline: none;
    transform: scale(1.2);
    opacity: 0.7;
  }
}

.footer__navigation {
  flex-basis: 34%;
  margin: 0 130px 56px auto;

  @media (max-width: $width_viewport_tablet) {
    flex-basis: 50%;
    margin: 0 auto 42px 0;
    padding: 37px 10px 0 3px;
  }

  @media (max-width: $width_viewport_mobile) {
    position: relative;

    margin: 0;
    padding: 0;
  }

  & p {
    @include indent_p;

    margin: 0 0 28px;

    font-size: $font_size_p_desktop_xxxs;
    line-height: $line_height_p_tablet_s;
    font-family: $font_family_second_base;
    color: $color_blue_tangaroa;
    letter-spacing: 0.05em;

    opacity: 1;

    @media (max-width: $width_viewport_tablet) {
      flex-basis: auto;
      margin: 0 0 22px;

      font-size: $font_size_p_tablet_xs;
      line-height: $line_height_p_mobile_xxxl;
      text-transform: uppercase;
    }

    @media (max-width: $width_viewport_mobile) {
      margin: 0 0 27px;
      padding: 27px 0 0;
    }
  }

  &::before {
    @media (max-width: $width_viewport_mobile) {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: $color_gray_dark;
      opacity: 0.2;
    }
  }

  &::after {
    @media (max-width: $width_viewport_mobile) {
      content: "";
      position: absolute;
      bottom: -24px;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: $color_gray_dark;
      opacity: 0.2;
    }
  }
}

.footer__link {
  font-size: $font_size_p_desktop_xxxs;
  line-height: $line_height_p_mobile_xxl;
  color: $color_blue_tangaroa;
  letter-spacing: 0.03em;

  opacity: 0.5;

  &:hover {
    color: $color_blue_sky;

    opacity: 1;
  }

  &:focus {
    color: $color_blue_sky;

    outline: none;
    opacity: 1;
  }

  @media (max-width: $width_viewport_mobile) {
    line-height: $line_height_p_mobile_xl;
  }
}

.footer__contact {
  flex-basis: 27%;
  margin: 0 0 56px;
  padding: 0 0 0 48px;

  @media (max-width: $width_viewport_tablet) {
    flex-basis: 50%;
    margin: 0 0 42px;
    padding: 38px 4px 0 15px;
  }

  @media (max-width: $width_viewport_mobile) {
    position: relative;

    padding: 0;
  }

  & p {
    @include indent_p;

    margin: 0 0 28px;

    font-size: $font_size_p_desktop_xxxs;
    line-height: $line_height_p_tablet_s;
    font-family: $font_family_second_base;
    color: $color_blue_tangaroa;
    letter-spacing: 0.05em;

    @media (max-width: $width_viewport_tablet) {
      flex-basis: auto;
      margin: 0 0 22px;

      font-size: $font_size_p_tablet_xs;
      line-height: $line_height_p_mobile_xxxl;
      text-transform: uppercase;
    }

    @media (max-width: $width_viewport_mobile) {
      margin: 0 0 29px;
      padding: 22px 0 0;
    }
  }

  &::after {
    @media (max-width: $width_viewport_mobile) {
      content: "";
      position: absolute;
      bottom: -36px;
      left: 0;

      width: 100%;
      height: 1px;

      background-color: $color_gray_dark;
      opacity: 0.2;
    }
  }
}

.footer__address {
  font-style: normal;
  font-size: $font_size_p_desktop_xxxs;
  line-height: $line_height_p_mobile_xl;
  color: $color_blue_tangaroa;
  letter-spacing: -0.1em;

  opacity: 0.5;

  @media (max-width: $width_viewport_tablet) {
    letter-spacing: normal;
  }

  @media (max-width: $width_viewport_mobile) {
    letter-spacing: 0.02em;
  }

  &:hover {
    color: $color_blue_sky;

    opacity: 1;
  }
}

.footer__copyright {
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  margin: 0 0 19px;
  padding: 15px 0 0;

  @media (max-width: $width_viewport_tablet) {
    justify-content: space-between;
    margin: 0 0 25px;
    padding: 22px 0 0;
  }

  @media (max-width: $width_viewport_mobile) {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 22px 0 0;
  }

  & p {
    @include indent_p;

    flex-basis: 16%;
    margin: 0;

    font-size: $font_size_p_desktop_xs;
    line-height: $line_height_p_mobile_xxxl;
    color: $color_blue_tangaroa;
    letter-spacing: 0.04em;

    opacity: 0.5;

    @media (max-width: $width_viewport_tablet) {
      display: none;
    }

    @media (max-width: $width_viewport_mobile) {
      padding: 0 0 22px;
    }
  }

  & p + p {
    flex-basis: 26%;

    @media (max-width: $width_viewport_tablet) {
      display: none;
    }
  }
}

.footer__link-copyright {
  font-size: $font_size_p_desktop_xs;
  line-height: $line_height_p_mobile_xxxl;
  color: $color_blue_tangaroa;
  letter-spacing: 0.04em;

  opacity: 0.5;

  @media (max-width: $width_viewport_tablet) {
    flex-basis: auto;

    font-size: $font_size_p_tablet_xs;
    line-height: $line_height_p_mobile_xxxl;
    text-transform: uppercase;
  }

  @media (max-width: $width_viewport_mobile) {
    margin: 0 0 27px;

    line-height: $line_height_p_mobile_xl;
  }

  &--large {
    margin: 0 auto 0 0;

    @media (max-width: $width_viewport_mobile) {
      margin: 0 0 27px;
    }
  }

  &:hover {
    color: $color_blue_sky;

    opacity: 1;
  }

  &:focus {
    color: $color_blue_sky;

    outline: none;
    opacity: 1;
  }
}

.footer__toggle {
  position: absolute;
  top: 24px;
  right: 0;
  z-index: 10;

  display: none;
  width: 20px;
  height: 20px;

  background: transparent;
  border: none;

  @media (max-width: $width_viewport_mobile) {
    display: block;
  }
}

.footer__navigation--closed .footer__toggle--navigation {
  &::before {
    content: "";
    position: absolute;
    top: 6px;
    right: 2px;

    width: 16px;
    height: 16px;

    background: $color_white_darken url("../img/plus-toggle.svg") no-repeat 0 0;
  }
}

.footer__navigation--opened .footer__toggle--navigation {
  &::before {
    content: "";
    position: absolute;
    top: 13px;
    right: 2px;

    width: 16px;
    height: 2px;

    background: $color_white_darken url("../img/minus-toggle.svg") no-repeat 0 0;
  }
}

.footer__navigation--closed .footer__list--navigation {
  @media (max-width: $width_viewport_mobile) {
    display: none;
  }
}

.footer__contact--closed .footer__toggle--contact {
  &::before {
    content: "";
    position: absolute;
    top: 1px;
    right: 2px;

    width: 16px;
    height: 16px;

    background: $color_white_darken url("../img/plus-toggle.svg") no-repeat 0 0;
  }
}

.footer__contact--opened .footer__toggle--contact {
  &::before {
    content: "";
    position: absolute;
    top: 8px;
    right: 2px;

    width: 16px;
    height: 2px;

    background: $color_white_darken url("../img/minus-toggle.svg") no-repeat 0 0;
  }
}

.footer__contact--closed .footer__list--contact {
  @media (max-width: $width_viewport_mobile) {
    display: none;
  }
}

.footer__contact--closed .footer__address {
  @media (max-width: $width_viewport_mobile) {
    display: none;
  }
}
