@import "mixins.scss";
@import "vars.scss";

.form {
  flex-basis: auto;
  width: 50%;
  padding: 0 0 0 14px;

  @media (max-width: $width_viewport_tablet) {
    width: 100%;
    padding: 0 61px 0 67px;
  }

  @media (max-width: $width_viewport_mobile) {
    padding: 0;
  }

  & h3 {
    @include heading_h3;

    margin: 0 0 12px;

    font-weight: $font_weight_normal;
    font-size: $font_size_h2_desktop;
    line-height: $line_height_p_desktop_xxl;
    font-family: $font_family_second_base;
    color: $color_white;

    @media (max-width: $width_viewport_tablet) {
      flex-basis: 100%;
      margin: 0 0 19px;

      font-size: $font_size_h2_tablet;
      line-height: $line_height_h2_tablet;
    }

    @media (max-width: $width_viewport_mobile) {
      margin: 0 0 13px;

      font-size: $font_size_h2_mobile;
      line-height: $line_height_h2_mobile;
    }
  }

  & p {
    @include indent_p;

    margin: 0 0 51px;
    padding: 0 0 0 5px;

    line-height: $line_height_p_desktop_xxl;
    color: $color_white;

    @media (max-width: $width_viewport_tablet) {
      margin: 0 0 56px;
      padding: 0;
    }

    @media (max-width: $width_viewport_mobile) {
      margin: 0 0 28px;
      padding: 0;
    }
  }

  & input[type="checkbox"] + .form__label--checkbox::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 7px;

    display: inline-block;
    width: 16px;
    height: 16px;

    border: 1px solid $color_white;

    @media (max-width: $width_viewport_mobile) {
      top: 2px;
      left: 1px;
    }
  }

  & input[type="checkbox"]:hover + .form__label--checkbox::before {
    border-color: $color_blue_nordic;
    opacity: 0.5;
  }

  & input[type="checkbox"]:focus + .form__label--checkbox::before {
    opacity: 0.6;
  }

  & input[type="checkbox"]:checked + .form__label--checkbox::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 12px;

    display: inline-block;
    width: 7px;
    height: 4px;

    border-bottom: 1px solid $color_white;
    border-left: 1px solid $color_white;
    transform: rotate(-45deg);

    @media (max-width: $width_viewport_mobile) {
      top: 6px;
      left: 6px;
    }
  }

  & input[type="checkbox"]:hover:checked + .form__label--checkbox::after {
    border-color: $color_blue_nordic;
    opacity: 0.5;
  }

  & input[type="checkbox"]:focus + .form__label--checkbox {
    color: $color_blue_nordic;

    opacity: 0.7;
  }
}

.form__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 43px;

  @media (max-width: $width_viewport_tablet) {
    margin: 0 0 46px;
  }

  @media (max-width: $width_viewport_mobile) {
    display: block;
    margin: 0 0 26px;
  }

  & input {
    color: $color_white;

    background: $color_blue_sky_deep;
    border: none;

    &:hover {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:focus {
      outline: 1px solid $color_white;
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &[type="text"]::placeholder {
      font-size: $font_size_p_desktop;
      line-height: $line_height_p_desktop_xxl;
      font-family: $font_family_base;
      color: $color_white;

      @media (max-width: $width_viewport_tablet) {
        font-size: $font_size_p_desktop;
        line-height: $line_height_p_desktop_xxl;
      }

      @media (max-width: $width_viewport_mobile) {
        font-size: $font_size_p_mobile;
        line-height: $line_height_p_mobile;
      }
    }

    &[type="tel"]::placeholder {
      font-size: $font_size_p_desktop;
      line-height: $line_height_p_desktop_xxl;
      font-family: $font_family_base;
      color: $color_white;

      @media (max-width: $width_viewport_tablet) {
        font-size: $font_size_p_tablet;
        line-height: $line_height_p_mobile;
      }

      @media (max-width: $width_viewport_mobile) {
        font-size: $font_size_p_mobile;
        line-height: $line_height_p_mobile;
      }
    }

    &[type="text"] {
      flex-basis: auto;
      width: 47%;
      max-height: 50px;
      margin: 0 auto 40px 0;
      padding: 15px 17px 20px;

      @media (max-width: $width_viewport_tablet) {
        flex-basis: 47%;
        width: auto;
      }

      @media (max-width: $width_viewport_mobile) {
        width: 100%;
        max-height: 52px;
        margin: 0 0 31px;
      }
    }

    &[type="tel"] {
      flex-basis: auto;
      width: 47%;
      max-height: 50px;
      margin: 0 0 40px;
      padding: 13px 17px 16px;

      @media (max-width: $width_viewport_tablet) {
        flex-basis: 47%;
        width: auto;
        margin: 0 0 42px auto;
      }

      @media (max-width: $width_viewport_mobile) {
        width: 100%;
        max-height: 52px;
        margin: 0 0 30px;
        padding: 13px 17px 20px;
      }
    }
  }
}

.form__label {
  position: relative;

  font-size: $font_size_p_desktop_xxs;
  line-height: $line_height_p_desktop;
  color: $color_white;

  cursor: pointer;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  &:focus {
    opacity: 1;
  }

  &--checkbox {
    display: inline-block;
    flex-basis: 47%;
    padding: 9px 5px 5px 39px;

    @media (max-width: $width_viewport_tablet) {
      padding: 10px 10px 10px 42px;
    }

    @media (max-width: $width_viewport_mobile) {
      padding: 1px 5px 5px 35px;
    }
  }
}

.form__textarea {
  width: 100%;
  min-height: 154px;
  padding: 11px 22px 10px 16px;

  color: $color_white;

  background: $color_blue_sky_deep;
  border: none;

  resize: none;

  @media (max-width: $width_viewport_tablet) {
    min-height: 160px;
  }

  @media (max-width: $width_viewport_mobile) {
    min-height: 104px;
    padding: 11px 10px 10px 18px;
  }

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:focus {
    outline: 1px solid $color_white;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &::placeholder {
    font-size: $font_size_p_desktop;
    line-height: $line_height_p_desktop_xxl;
    font-family: $font_family_base;
    color: $color_white;

    @media (max-width: $width_viewport_tablet) {
      font-size: $font_size_p_tablet;
      line-height: $line_height_p_mobile;
    }

    @media (max-width: $width_viewport_mobile) {
      font-size: $font_size_p_mobile;
      line-height: $line_height_p_mobile;
    }
  }
}

.form__wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: $width_viewport_mobile) {
    flex-direction: column;
    padding: 0;
  }
}
