@import "../base/mixins.scss";
@import "../base/vars.scss";

.header {
  position: absolute;
  right: 0;
  left: 0;

  margin: 0 auto;
  padding: 33px 0 0;

  @media (max-width: $width_viewport_tablet) {
    padding: 21px 0 0;
  }
}

.header__inner {
  @include inner;
}

.header__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__logo-link {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 52px;
  margin: 0 0 0 5px;

  &:focus {
    outline: none;
  }

  @media (max-width: $width_viewport_tablet) {
    margin: 0;
  }

  @media (max-width: $width_viewport_mobile) {
    width: 38px;
  }
}

.header__logo-link:focus > .header__logo-text {
  color: $color_blue_sky;
}

.header__logo-link:focus > .header__logo-slogan {
  color: $color_blue_sky;
}

.header__logo-text {
  @include indent_p;

  margin: 0;
  padding: 5px 0 0 16px;

  font-weight: $font_weight_bold;
  font-size: $font_size_p_desktop_xl;
  line-height: $line_height_p_desktop_l;
  font-family: $font_family_second_base;
  color: $color_white;

  &:hover {
    color: $color_blue_sky;
  }

  @media (max-width: $width_viewport_tablet) {
    font-size: $font_size_p_tablet_xl;
    line-height: $line_height_p_tablet_xxs;
  }

  @media (max-width: $width_viewport_mobile) {
    display: none;
  }
}

.header__logo-slogan {
  @include indent_p;

  margin: 0;
  padding: 0 0 0 16px;

  font-weight: $font_weight_medium;
  font-size: $font_size_p_desktop_s;
  line-height: $line_height_p_desktop_l;
  font-family: $font_family_third_base;
  color: $color_gray_light;

  &:hover {
    color: $color_blue_sky;
  }

  @media (max-width: $width_viewport_tablet) {
    font-size: $font_size_p_tablet_s;
    line-height: $line_height_p_tablet_xxs;
  }

  @media (max-width: $width_viewport_mobile) {
    display: none;
  }
}

.header__navigation {
  display: flex;
  flex-basis: 70%;
  justify-content: flex-end;
  align-items: center;
}

.header__navigation-list {
  @include list;

  display: flex;
  margin: 0 50px 0 0;

  @media (max-width: $width_viewport_tablet) {
    margin: 0;
  }
}

.header__navigation-item {
  margin: 0 0 0 41px;
  padding: 0 0 0 45px;

  @media (max-width: $width_viewport_tablet) {
    width: 25px;
    padding: 0;
  }

  @media (max-width: $width_viewport_mobile) {
    margin: 0 0 0 31px;
  }

  &--email {
    margin: 0;
    padding: 0;

    @media (max-width: $width_viewport_tablet) {
      margin: 0;
    }
  }
}

.header__navigation-link {
  position: relative;

  padding: 0 0 0 35px;

  line-height: $line_height_p_desktop_xxxs;
  color: $color_white;

  @media (max-width: $width_viewport_tablet) {
    display: inline-block;
    min-height: 30px;
    padding: 0;
    overflow: hidden;

    white-space: nowrap;
    text-indent: 100%;
  }

  &:focus {
    color: $color_blue_sky;

    outline: none;
    opacity: 0.7;
  }

  &:hover {
    color: $color_blue_sky;

    opacity: 0.7;
  }

  &--email {
    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;

      width: 19px;
      height: 14px;

      background: transparent url("../img/icon-envelope.svg") no-repeat center;

      @media (max-width: $width_viewport_tablet) {
        top: 6px;
        left: 8px;

        width: 26px;
        height: 19px;

        background: transparent url("../img/icon-envelope-tablet.svg") no-repeat center;
      }
    }
  }

  &--phone {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 18px;
      height: 18px;

      background: transparent url("../img/icon-phone.svg") no-repeat center;

      @media (max-width: $width_viewport_tablet) {
        top: 3px;
        left: 0;

        width: 25px;
        height: 24px;

        background: transparent url("../img/icon-phone-tablet.svg") no-repeat center;
      }
    }
  }
}

.header__navigation-button {
  cursor: pointer;
}
