@import "../base/mixins.scss";
@import "../base/vars.scss";

.header {
  background: $color_blue_tangaroa url("../img/bg-header-desktop@1x.png") no-repeat center;
  background-size: cover;
}

.header__inner {
  @include fixed_inner;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 35px 20px 0 20px;
}

.header__logo-link {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 52px;
}

.header__logo-text {
  @include indent_p;

  margin: 0;
  padding: 7px 0 0 7px;

  font-weight: $font_weight_bold;
  font-size: $font_size_p_desktop_xl;
  line-height: $line_height_p_desktop_l;
  font-family: $font_family_second_base;
  color: $color_white;
}

.header__logo-slogan {
  @include indent_p;

  margin: 0;
  padding: 0 0 0 7px;

  font-weight: $font_weight_medium;
  font-size: $font_size_p_desktop_s;
  line-height: $line_height_p_desktop_l;
  font-family: $font_family_third_base;
  color: $color_gray_light;
}

.header__text-product {
  @include indent_p;

  max-width: 50%;
  margin: 0 0 31px;

  font-weight: $font_weight_bold;
  font-size: $font_size_p_desktop_xxl;
  line-height: $line_height_p_desktop_xl;
  font-family: $font_family_second_base;
  color: $color_white;
  letter-spacing: 0.07em;
}

.header__text-services {
  @include indent_p;

  position: relative;

  max-width: 50%;
  margin: 0;
  padding: 0 0 37px 94px;

  font-size: $font_size_p_desktop_l;
  line-height: $line_height_p_desktop_xxxl;
  color: $color_white;

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 4px;

    width: 66px;
    height: 2px;

    background: $color_white;
  }
}

.header__content {
  position: relative;

  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 230px 0 280px;
  overflow: initial;
}

.header__image {
  position: absolute;
  top: 140px;
  right: -90px;
}
