@import "mixins.scss";
@import "vars.scss";

.product {
  padding: 87px 0 92px;

  background: $color_blue_tangaroa;

  @media (max-width: $width_viewport_tablet) {
    padding: 49px 0 28px;
  }

  @media (max-width: $width_viewport_mobile) {
    padding: 49px 0 35px;
  }
}

.product__inner {
  @include inner;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: $width_viewport_tablet) {
    flex-direction: column;
  }
}

.product__content {
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  max-width: $width_desktop_s;
  margin: 0 auto;

  @media (max-width: $width_viewport_tablet) {
    display: block;
    width: auto;
    margin: 0;
  }

  & h2 {
    @include heading_h2;

    flex-basis: auto;
    width: 100%;
    margin: 0 0 54px;

    font-weight: $font_weight_normal;
    font-family: $font_family_second_base;
    color: $color_white;

    @media (max-width: $width_viewport_tablet) {
      margin: 0 0 50px;
      padding: 0 100px 0 0;
    }

    @media (max-width: $width_viewport_mobile) {
      margin: 0 0 42px;
      padding: 0 0 0 10px;
    }
  }
}

.product__link {
  position: relative;

  display: block;
  flex-basis: auto;
  width: 31%;
  min-height: 620px;
  margin: 0 3% 3% 0;

  &:nth-of-type(3n+3) {
    margin-right: 0;
  }

  &:hover {
    background-color: rgba(27, 45, 55, 0.5);
    outline: 1px solid $color_blue_sky;
  }

  @media (max-width: $width_viewport_tablet) {
    width: 100%;
    min-height: 256px;
    margin: 0 0 48px;
  }

  @media (max-width: $width_viewport_mobile) {
    margin: 0 0 30px;
  }

  & h3 {
    @include heading_h3;

    max-width: 215px;
    margin: 0 0 10px;
    padding: 49px 10px 0 41px;

    font-weight: $font_weight_normal;
    font-family: $font_family_second_base;
    color: $color_white;

    @media (max-width: $width_viewport_tablet) {
      padding: 41px 0 0 44px;
    }

    @media (max-width: $width_viewport_mobile) {
      padding: 20px 0 0 35px;
    }
  }

  &--production {
    background-color: $color_blue_tangaroa_80;
    background-image: url("../img/photo-production-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
      background-color: $color_blue_tangaroa;
      background-image: url("../img/photo-production-desktop@2x.png");
      background-repeat: no-repeat;
      background-size: cover;
    }

    @media (max-width: $width_viewport_tablet) {
      background-color: $color_blue_tangaroa;
      background-image: url("../img/photo-production-tablet@1x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (max-width: $width_viewport_tablet) and (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
      background-color: $color_blue_tangaroa;
      background-image: url("../img/photo-production-tablet@2x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (max-width: $width_viewport_mobile) {
      background-color: $color_blue_tangaroa;
      background-image: url("../img/photo-production-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (max-width: $width_viewport_mobile) and (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
      background-color: $color_blue_tangaroa;
      background-image: url("../img/photo-production-mobile@2x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &--installation {
    background-color: $color_blue_tangaroa;
    background-image: url("../img/photo-installation-desktop@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
      background-color: $color_blue_tangaroa;
      background-image: url("../img/photo-installation-desktop@2x.png");
      background-size: cover;
    }

    @media (max-width: $width_viewport_tablet) {
      background-color: $color_blue_tangaroa;
      background-image: url("../img/photo-installation-tablet@1x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (max-width: $width_viewport_tablet) and (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
      background-color: $color_blue_tangaroa;
      background-image: url("../img/photo-installation-tablet@2x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (max-width: $width_viewport_mobile) {
      background-color: $color_blue_tangaroa;
      background-image: url("../img/photo-installation-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (max-width: $width_viewport_mobile) and (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
      background-color: $color_blue_tangaroa;
      background-image: url("../img/photo-installation-mobile@2x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &--component {
    background-color: $color_blue_tangaroa;
    background-image: url("../img/photo-component-desktop@1x.png");
    background-repeat: no-repeat;

    @media (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
      background-color: $color_blue_tangaroa;
      background-image: url("../img/photo-component-desktop@2x.png");
      background-size: cover;
    }

    @media (max-width: $width_viewport_tablet) {
      background-color: $color_blue_tangaroa;
      background-image: url("../img/photo-component-tablet@1x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (max-width: $width_viewport_tablet) and (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
      background-color: $color_blue_tangaroa;
      background-image: url("../img/photo-component-tablet@2x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (max-width: $width_viewport_mobile) {
      background-color: $color_blue_tangaroa;
      background-image: url("../img/photo-component-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (max-width: $width_viewport_mobile) and (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
      background-color: $color_blue_tangaroa;
      background-image: url("../img/photo-component-mobile@2x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.product__button {
  position: absolute;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 63px;

  background: $color_blue_sky;
  border: none;
}
