@import "../base/mixins.scss";
@import "../base/vars.scss";

.product {
  padding: 87px 0 97px;

  background: $color_blue_tangaroa;

  @media (max-width: $width_viewport_tablet) {
    padding: 49px 0 28px;
  }

  @media (max-width: $width_viewport_mobile) {
    padding: 47px 0 34px;
  }
}

.product__inner {
  @include inner_thin;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: $width_viewport_tablet) {
    flex-direction: column;
  }
}

.product__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 -29px;

  @media (max-width: $width_viewport_tablet) {
    display: block;
    margin: 0;
  }
}

.product__title {
  @include heading_h2;

  flex-basis: 100%;
  margin: 0;
  padding: 0 0 54px 30px;

  font-weight: $font_weight_normal;
  font-family: $font_family_second_base;
  color: $color_white;

  @media (max-width: $width_viewport_tablet) {
    padding: 0 100px 50px 0;
  }

  @media (max-width: $width_viewport_mobile) {
    padding: 3px 0 42px 10px;
  }
}

.product__link {
  display: block;
  flex-basis: 31%;
  margin: 0 0 30px 28px;

  background-size: cover;

  @media (max-width: $width_viewport_tablet) {
    margin: 0 0 48px;
  }

  @media (max-width: $width_viewport_mobile) {
    margin: 0 0 30px;
  }

  &--production {
    background: $color_blue_tangaroa url("../img/photo-production-desktop@1x.png");

    @media (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
      background: $color_blue_tangaroa url("../img/photo-production-desktop@2x.png");
      background-size: cover;
    }

    @media (max-width: $width_viewport_tablet) {
      background: $color_blue_tangaroa url("../img/photo-production-tablet@1x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (max-width: $width_viewport_tablet) and (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
      background: $color_blue_tangaroa url("../img/photo-production-tablet@2x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (max-width: $width_viewport_mobile) {
      background: $color_blue_tangaroa url("../img/photo-production-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (max-width: $width_viewport_mobile) and (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
      background: $color_blue_tangaroa url("../img/photo-production-mobile@2x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &--installation {
    background: $color_blue_tangaroa url("../img/photo-installation-desktop@1x.png");

    @media (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
      background: $color_blue_tangaroa url("../img/photo-installation-desktop@2x.png");
      background-size: cover;
    }

    @media (max-width: $width_viewport_tablet) {
      background: $color_blue_tangaroa url("../img/photo-installation-tablet@1x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (max-width: $width_viewport_tablet) and (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
      background: $color_blue_tangaroa url("../img/photo-installation-tablet@2x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (max-width: $width_viewport_mobile) {
      background: $color_blue_tangaroa url("../img/photo-installation-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (max-width: $width_viewport_mobile) and (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
      background: $color_blue_tangaroa url("../img/photo-installation-mobile@2x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &--component {
    background: $color_blue_tangaroa url("../img/photo-component-desktop@1x.png");

    @media (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
      background: $color_blue_tangaroa url("../img/photo-component-desktop@2x.png");
      background-size: cover;
    }

    @media (max-width: $width_viewport_tablet) {
      background: $color_blue_tangaroa url("../img/photo-component-tablet@1x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (max-width: $width_viewport_tablet) and (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
      background: $color_blue_tangaroa url("../img/photo-component-tablet@2x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (max-width: $width_viewport_mobile) {
      background: $color_blue_tangaroa url("../img/photo-component-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (max-width: $width_viewport_mobile) and (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
      background: $color_blue_tangaroa url("../img/photo-component-mobile@2x.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.product__card {
  position: relative;

  min-height: 620px;

  background-color: $color_blue_tangaroa_80;

  &:hover {
    background-color: rgba(27, 45, 55, 0.5);
    outline: 1px solid $color_blue_sky;
  }

  @media (max-width: $width_viewport_tablet) {
    min-height: 256px;
  }
}

.product__title-card {
  @include heading_h3;

  max-width: 215px;
  margin: 0;
  padding: 49px 0 0 48px;

  font-weight: $font_weight_normal;
  font-family: $font_family_second_base;
  color: $color_white;

  @media (max-width: $width_viewport_tablet) {
    padding: 41px 0 0 44px;
  }

  @media (max-width: $width_viewport_mobile) {
    padding: 20px 0 0 35px;
  }
}

.product__button {
  position: absolute;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 63px;
  height: 63px;

  background: $color_blue_sky;
  border: none;
}
