@import "mixins.scss";
@import "vars.scss";

.promo {
  padding: 229px 0 275px;

  background-color: transparent;
  background-image: url("../img/circuit-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: top 63% right 15%;
  background-size: auto;

  @media (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
    background-color: transparent;
    background-image: url("../img/circuit-desktop@2x.png");
    background-repeat: no-repeat;
    background-position: top 63% right 15%;
    background-size: 36.7%;
  }

  @media (max-width: $width_viewport_tablet) {
    padding: 118px 0 163px;

    background-color: transparent;
    background-image: url("../img/circuit-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: top 16% right;
    background-size: auto;
  }

  @media (max-width: $width_viewport_tablet) and (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
    background-color: transparent;
    background-image: url("../img/circuit-tablet@2x.png");
    background-repeat: no-repeat;
    background-position: top 16% right;
    background-size: 34%;
  }

  @media (max-width: $width_viewport_mobile) {
    padding: 230px 0 70px;

    background-color: transparent;
    background-image: url("../img/circuit-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: top 10% right;
    background-size: auto;
  }

  @media (max-width: $width_viewport_mobile) and (min-resolution: $retina_dpi) and (min-resolution: $retina_dppx) {
    background-color: transparent;
    background-image: url("../img/circuit-mobile@2x.png");
    background-repeat: no-repeat;
    background-position: top 10% right;
    background-size: 92%;
  }
}

.promo__inner {
  @include inner;

  position: relative;
}

.promo__content {
  flex-basis: auto;
  width: 50%;
  padding: 0;

  @media (max-width: $width_viewport_tablet) {
    width: 65%;
    padding: 0 0 0 62px;
  }

  @media (max-width: $width_viewport_mobile) {
    width: auto;
    padding: 0;
  }

  & p {
    @include indent_p;

    margin: 0 0 30px;
    padding: 0;

    font-weight: $font_weight_bold;
    font-size: $font_size_p_desktop_xxl;
    line-height: $line_height_p_desktop_xl;
    font-family: $font_family_second_base;
    color: $color_white;
    text-transform: uppercase;
    letter-spacing: 0.06em;

    @media (max-width: $width_viewport_tablet) {
      margin: 0 0 32px;

      font-size: $font_size_p_tablet_xxl;
      line-height: $line_height_p_tablet_xxs;
    }

    @media (max-width: $width_viewport_mobile) {
      margin: 0 0 29px;

      font-size: $font_size_p_mobile_xxl;
      line-height: $line_height_p_mobile_xxxs;
    }
  }

  & p + p {
    @include indent_p;

    position: relative;

    margin: 0 0 44px;
    padding: 0 0 0 93px;

    font-weight: $font_weight_normal;
    font-size: $font_size_p_desktop_l;
    line-height: $line_height_p_desktop_xxxl;
    font-family: $font_family_base;
    color: $color_white;
    text-transform: lowercase;
    letter-spacing: normal;

    @media (max-width: $width_viewport_tablet) {
      margin: 0 0 57px;
      padding: 0 0 0 50px;

      font-size: $font_size_p_tablet_l;
      line-height: $line_height_p_tablet_xl;
    }

    @media (max-width: $width_viewport_mobile) {
      margin: 0 0 42px;
      padding: 0 0 0 50px;

      font-size: $font_size_p_mobile;
      line-height: $line_height_p_mobile_xl;
    }

    &::before {
      content: "";
      position: absolute;
      top: 15px;
      left: 0;

      width: 66px;
      height: 2px;

      background: $color_white;

      @media (max-width: $width_viewport_tablet) {
        top: 16px;
        left: 5px;

        width: 33px;
        height: 2px;
      }

      @media (max-width: $width_viewport_mobile) {
        top: 14px;
        left: 3px;
      }
    }
  }
}

.promo__scroll {
  position: absolute;
  bottom: -148px;
  left: -41px;

  width: 100px;
  height: 22px;

  font-size: 14px;
  line-height: 16px;
  color: $color_white;

  transform: rotate(-90deg);
  cursor: pointer;
  opacity: 0.5;

  &:hover {
    color: $color_blue_sky;

    opacity: 1;
  }


  @media (max-width: $width_viewport_tablet) {
    display: none;
  }
}
