@mixin inner {
  box-sizing: border-box;
  width: $width_desktop;
  margin: 0 auto;
  padding: $padding_desktop;
}

@mixin fixed_inner() {
  @include inner;

  @media (max-width: $width_tablet) {
    width: 100%;
    padding: $padding_tablet;
  }

  @media (max-width: $width_mobile) {
    width: 100%;
    padding: $padding_mobile;
  }
}

@mixin list() {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin heading_h1 {
  font-size: $font_size_h1_desktop;
  line-height: $line_height_h1_desktop;
}

@mixin heading_h2 {
  font-size: $font_size_h2_desktop;
  line-height: $line_height_h2_desktop;
}

@mixin heading_h3 {
  font-size: $font_size_h3_desktop;
  line-height: $line_height_h3_desktop;
}

@mixin indent_p {
  font-size: $font_size_p_desktop;
  line-height: $line_height_p_desktop;
}

