// цвета
$color_white: #ffffff;
//
$color_gray: #666666;

//шрифты
$font_size_base: 16px; // вычислить среднее !!!
$font_weight_bold: 700;
$font_weight_medium: 500;
$font_weight_normal: 400;
$font_family_base: "PT Mono";
$font_family_second_base: "Roboto Condensed";
$font_family_third_base: "Roboto";
$font_family_extra: "Tahoma", sans-serif;
$line_height: 1.64; // вычислить среднее !!!
